body {
    background-image: url(paisagem.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: 100% 10%;
    background-attachment: fixed;
}

.foto{
    width: 100px;
}

p {
    color: rgb(172, 70, 70);
}